# This workflow runs code formatting and linting checks

name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        python-version: "3.11"
    - name: Install
      run: uv sync --group lint
    - name: Check code formatting
      run: |
        make format
    - name: Check for file changes
      run: |
        make check-clean

#    - name: Lint with pylint
#      run: |
#        uv run pylint gpkitmodels
#
#    - name: Check with flake8
#      run: |
#        make lint
